{% extends "layout.html" %}
{% load static %}

{% block title %}
default block from tweet template
{% endblock %}

{% block content %}
<h1 class="text-center mt-4">All Posts</h1>
<a href="{% url 'tweet_create' %}" class="btn btn-success mb-4">Create a Tweet</a>

<div class="container">
    <div class="row gap-3">
        {% for tweet in tweets %}
        <div class="card col-md-4" style="width: 18rem;">
            {% if tweet.photo %}
            <img class="card-img-top" src="{{ tweet.photo.url }}" alt="Card image cap">
            {% else %}
            <img class="card-img-top" src="{% static 'placeholder.jpg' %}" alt="Placeholder Image">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ tweet.user.username }}</h5>
                <p class="card-text">{{ tweet.text }}</p>
                {% if tweet.user == user %}
                <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
